#content{
    margin-top: 5%;
    margin-left: 10%;
    width: 85%;
    position: relative;
    
    height: 100%;
}

#content .benefits{ 
    width: 35%;
}

#content .benefits h2{
    margin-bottom: 20px;
    color: var(--blue);
}

#content .benefits li{
    margin-bottom: 50px;
    background-color: whitesmoke;
    border-radius: 0 4px 0 0;
    padding: 15px;
    list-style: none;
    border-bottom: var(--blue) solid 2px ;
    border-left: var(--blue) solid 2px;
}

#content .benefits li:hover{
    cursor: default;
}

#content .benefits h3{
    color: var(--blue);
}

#content .about{
    width: 35%;
    position: absolute;
    top: 0px;
    right: 10%;
}

#content .about img{
    position: relative;
    opacity: 0.15;
    width: 100%;
    z-index: 0;
    transition: 1s;
}

#content .about #prototype{
    filter: drop-shadow(8px 8px 8px #121212);
    margin-top: 50px;
    margin-bottom: 50px;
    
}


#content .about #opinions{
    position: absolute;
    width: 150%;
    top: 70%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    height: 420px;
    margin-top: 100px;
}

#content .about #opinions button{
    position: absolute;
    bottom: -60px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    
}

#content .about #opinions .card{
    display: none;
    background-color: whitesmoke;
    width: 300px;
    height: 100%;
    display: flex;
    position: absolute;
    
    border-radius: 8px;
}

#content .about #opinions .card#cardFront{
    position: absolute;
    opacity: 1;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    transition: 1s;
    
    
}

#content .about #opinions .card#cardFront:hover{
    
    cursor: default;
    transform: translate(-50%, 0) scale(1.08);
    
}

#content .about #opinions .card#nextCard{
    position: absolute;
    opacity: 0;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    
    z-index: -1;
}

#content .about #opinions .card#nextCardLeft{
    position: absolute;
    opacity: 0;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    
    z-index: -1;
}




#content .about #opinions .card#cardLeft{
    
    opacity: 0.3;
    right: 70%;
    left: 30%;
    transform: translate(-50%, 0) scale(0.75);
    cursor: default;
    z-index: 0;
    
}


#content .about #opinions .card#cardRight{
    cursor: default;
    opacity: 0.3;
    right: 30%;
    left: 70%;
    transform: translate(-50%, 0) scale(0.75);
    
    z-index: 0;
}

#content .about #opinions .card #leftArrow{
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(0, -50%);
    z-index: 2;
    color: var(--blue);
    font-size: 22px;
    cursor: pointer;
}

#content .about #opinions .card #leftArrowLeftCard, #leftArrowRightCard{
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(0, -50%);
    z-index: -1;
    color: var(--blue);
    font-size: 22px;
    cursor: default;
    opacity: 0;
}

#content .about #opinions .card #rightArrowLeftCard, #rightArrowRightCard{
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translate(0, -50%);
    z-index: 2;
    color: var(--blue);
    font-size: 22px;
    cursor: default;
    opacity: 0;
}


#content .about #opinions .card #rightArrow{
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translate(0, -50%);
    z-index: 2;
    color: var(--blue);
    font-size: 22px;
    cursor: pointer;
}


#content .about #opinions .card .cardContent{
    width: 100%;
    height: 100%;
    display: flex;
}


#content .about #opinions .card .cardContent .client{
    width: 90%;
    position: absolute;
    height: 100px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    
}

#content .about #opinions .card .cardContent .client img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 1;
    margin-bottom: 20px;    
}

#content .about #opinions .card .cardContent .client h3{
    margin-top: 20px;
    width: 100%;
    word-wrap: break-word;
    color: var(--blue);
    margin-bottom: 15px;
}

#content .about #opinions .card .cardContent .clientOpinion .textOpinion{
    position: absolute;
    top: 53%;
    width: 90%;
    max-height: 42%;
    overflow-y: scroll;
    margin-left: 5%;
    word-wrap: break-word;
}

#content .about #opinions .card .cardContent .clientOpinion .textOpinion::-webkit-scrollbar{
    width: 9px;
    border: whitesmoke solid 2px;
    border-radius: 8px;
    
}

#content .about #opinions .card .cardContent .clientOpinion .textOpinion::-webkit-scrollbar-thumb:vertical{
    background-color: var(--blue);
    border: whitesmoke solid 3px;
    border-radius: 8px;
}

#content .about #opinions .card .cardContent .clientOpinion #evaluation{
    position: absolute;
    top: 30%;
    left: 15px;
    width: 100%;
    height: 20px;
}

#content .about #opinions .card .cardContent .clientOpinion #evaluation img{
    opacity: 1;
    width: 20px;
    margin-right: 5px;
}


.button {
    
    background-color: #321397;
    color: white;
    padding: 10px;
    font-size: 23px;
    width: 150px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    transition: 0.7s;
    cursor: pointer;
}

.button:hover{
    background-color: var(--blue);
}



@media only screen and (max-width: 1200px){
    #content{
        height: 160vh;
    }

    #content .benefits{ 
        width: 80%;
        margin-left: 10%;
    }

    #content .about{
        width: 35%;
        position: absolute;
        bottom: 70px;
        right: 50%;
        transform: translate(50%, 0);
    }

    #content .about #prototype{
        position: absolute;
        bottom: 18%;
        right: 50%;
        transform: translate(50%, 0);
        
    }

    #content .about #opinions .card#cardFront{
    
        cursor: default;
        transform: translate(-50%, 0) scale(1);
        top: 40px;
        
    }

    #content .about #opinions .card#cardRight{
        cursor: default;
        opacity: 0.3;
        right: 20%;
        left: 80%;
        transform: translate(-50%, 0) scale(0.75);
        top: 40px;
        z-index: 0;
    }

    #content .about #opinions .card#cardLeft{
    
        opacity: 0.3;
        right: 80%;
        left: 20%;
        transform: translate(-50%, 0) scale(0.75);
        top: 40px;
        cursor: default;
        z-index: 0;
        
    }

    #content .about #opinions button{
        position: absolute;
        bottom: -110px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        
    }
}

@media only screen and (max-width: 980px){
    #content{
        height: 170vh;
    }

    #content .about #prototype{
        position: absolute;
        bottom: 20%;
        right: 50%;
        transform: translate(50%, 0);
        
    }

    #content .about #opinions .card#cardFront{
    
        cursor: default;
        transform: translate(-50%, 0) scale(1);
        top: 55px;
        
    }

    #content .about #opinions .card#cardRight{
        cursor: default;
        opacity: 0.3;
        right: 20%;
        left: 80%;
        transform: translate(-50%, 0) scale(0.75);
        top: 55px;
        z-index: 0;
    }

    #content .about #opinions .card#cardLeft{
    
        opacity: 0.3;
        right: 80%;
        left: 20%;
        transform: translate(-50%, 0) scale(0.75);
        top: 55px;
        cursor: default;
        z-index: 0;
        
    }

    #content .about #opinions button{
        position: absolute;
        bottom: -130px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        
    }
}


@media only screen and (max-width: 900px){
    #content{
        height: 175vh;
    }

    #content .about #prototype{
        position: absolute;
        bottom: 20%;
        right: 50%;
        transform: translate(50%, 0);
        
    }

    #content .about #opinions .card#cardFront{
    
        cursor: default;
        transform: translate(-50%, 0) scale(1);
        top: 55px;
        
    }

    #content .about #opinions .card#cardRight{
        cursor: default;
        opacity: 0.3;
        right: 20%;
        left: 80%;
        transform: translate(-50%, 0) scale(0.75);
        top: 55px;
        z-index: 0;
    }

    #content .about #opinions .card#cardLeft{
    
        opacity: 0.3;
        right: 80%;
        left: 20%;
        transform: translate(-50%, 0) scale(0.75);
        top: 55px;
        cursor: default;
        z-index: 0;
        
    }

    #content .about #opinions button{
        position: absolute;
        bottom: -130px;
        right: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        
    }


    #buttonKnow {
        font-size: 150%;
        width: 150px;
        display: flex;
        margin-top: -30px;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 770px){
    #content{
        height: 180vh;
        
    }

    #content .about #prototype{
        position: absolute;
        bottom: 20%;
        right: 50%;
        transform: translate(50%, 0);
        width: 450px;
        height: 253.125px;
        
    }

    #content .about #opinions .card{
        width: 270px;
    }

    #content .about #opinions .card#cardFront{
    
        cursor: default;
        transform: translate(-50%, 0) scale(1);
        top: 55px;
        size: 70%;
        
    }

    #content .about #opinions .card#cardRight{
        cursor: default;
        opacity: 0.3;
        right: 20%;
        left: 80%;
        transform: translate(-50%, 0) scale(0.75);
        top: 55px;
        z-index: 0;
    }

    #content .about #opinions .card#cardLeft{
    
        opacity: 0.3;
        right: 80%;
        left: 20%;
        transform: translate(-50%, 0) scale(0.75);
        top: 55px;
        cursor: default;
        z-index: 0;
        
    }

    

    
}

@media only screen and (max-width: 680px){
    #content{
        height: 185vh;
    }
}

@media only screen and (max-width: 550px){
    #content{
        height: 195vh;
    }

    #content .about #prototype{
        position: absolute;
        bottom: 20%;
        right: 50%;
        transform: translate(50%, 0);
        width: 380px;
        height: 213.75px;
        
    }

    #content .about #opinions .card{
        width: 250px;
    }
    
}


@media only screen and (max-width: 465px){
    #content{
        height: 200vh;
        
    }

    #content .about #prototype{
        
        bottom: 15%;
        
        
    }


    #content .about #opinions .card#cardFront{
    
       
        top: 130px;
        
        
    }

    #content .about #opinions .card#cardRight{
        
        top: 130px;
        
    }

    #content .about #opinions .card#cardLeft{
    
       
        top: 130px;
        
        
    }

    #content .about #opinions button{
        
        bottom: -205px;
        
        
    }

}

@media only screen and (max-width: 430px){
    #content{
        height: 215vh;
    }

    #content .about #prototype{
        
        bottom: 15%;
        width: 300px;
        height: 168.75px;
        
    }

}



@media only screen and (max-height: 880px){
    #content{
        height: 230vh;
    }
}


@media only screen and (max-height: 830px){
    #content{
        height: 240vh;
        
    }
    #content .about #prototype{
        
        bottom: 15%;
        
        
    }
}

@media only screen and (max-height: 800px){
    #content{
        height: 250vh;
        
    }
    #content .about #prototype{
        
        bottom: 16%;
        
        
    }
}

@media only screen and (max-height: 775px){
    #content{
        height: 260vh;
        
    }
    #content .about #prototype{
        
        bottom: 15%;
        
        
    }


    #content .about #opinions .card#cardFront{
    
       
        top: 170px;
        
        
    }

    #content .about #opinions .card#cardRight{
        
        top: 170px;
        
    }

    #content .about #opinions .card#cardLeft{
    
       
        top: 170px;
        
        
    }

    #content .about #opinions button{
        
        bottom: -235px;
        
        
    }
}

@media only screen and (max-height: 735px){
    #content{
        height: 280vh;
        
    }
    #content .about #prototype{
        
        bottom: 15%;
        
        
    }


    #content .about #opinions .card#cardFront{
    
       
        top: 170px;
        
        
    }

    #content .about #opinions .card#cardRight{
        
        top: 170px;
        
    }

    #content .about #opinions .card#cardLeft{
    
       
        top: 170px;
        
        
    }

    #content .about #opinions button{
        
        bottom: -235px;
        
        
    }
}

@media only screen and (max-height: 680px){
    #content{
        height: 300vh;
        
    }
    #content .about #prototype{
        
        bottom: 15%;
        
        
    }


    #content .about #opinions .card#cardFront{
    
       
        top: 170px;
        
        
    }

    #content .about #opinions .card#cardRight{
        
        top: 170px;
        
    }

    #content .about #opinions .card#cardLeft{
    
       
        top: 170px;
        
        
    }

    #content .about #opinions button{
        
        bottom: -235px;
        
        
    }
}

@media only screen and (max-height: 635px){
    #content{
        height: 330vh;
        
    }
    #content .about #prototype{
        
        bottom: 15%;
        
        
    }


    #content .about #opinions .card#cardFront{
    
       
        top: 170px;
        
        
    }

    #content .about #opinions .card#cardRight{
        
        top: 170px;
        
    }

    #content .about #opinions .card#cardLeft{
    
       
        top: 170px;
        
        
    }

    #content .about #opinions button{
        
        bottom: -235px;
        
        
    }
}

@media only screen and (max-height: 580px){
    #content{
        height: 360vh;
        
    }
    #content .about #prototype{
        
        bottom: 15%;
        
        
    }


    #content .about #opinions .card#cardFront{
    
       
        top: 170px;
        
        
    }

    #content .about #opinions .card#cardRight{
        
        top: 170px;
        
    }

    #content .about #opinions .card#cardLeft{
    
       
        top: 170px;
        
        
    }

    #content .about #opinions button{
        
        bottom: -235px;
        
        
    }
}











